<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

  <meta charset="UTF-8">
  <meta name="description" content="Training programs for gym">
  <meta name="keywords" content="Gym, training, programs, workout, fitness">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>
    {% block title %}MyTraining{% endblock %}
  </title>

  <!-- Google Font -->
  <link
      href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap"
      rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap"
      rel="stylesheet">

  <!-- Css Styles -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css"
        type="text/css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css"
        type="text/css">
  <link rel="stylesheet" href="/static/css/flaticon.css" type="text/css">
  <link rel="stylesheet" href="/static/css/owl.carousel.min.css"
        type="text/css">
  <link rel="stylesheet" href="/static/css/barfiller.css" type="text/css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css"
        type="text/css">
  <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">


  <!-- Specific Page JS goes HERE  -->
  {% block stylesheets %}{% endblock stylesheets %}

</head>
<body>

{% include 'includes/navigation-mobile.html' %}

{% include 'includes/navigation.html' %}

{% block content %}{% endblock content %}

{% include 'includes/footer.html' %}

{% include 'includes/scripts.html' %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

</body>
</html>
